<mat-card id="{{data.elementId}}">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <ng-container [ngTemplateOutlet]="data.template"></ng-container>
  </div>
  <div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button>Ok</button>
  </div>
</mat-card>