<div class="flex-container">
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/events']"
        mat-menu-item
      >
        <mat-icon>event</mat-icon>
        <span>All Events</span>
      </button>
    
      <button
        routerLinkActive="active"
        [routerLink]="['/events/new']"
        mat-menu-item
      >
        <mat-icon>event_available</mat-icon>
        <span>New Event</span>
      </button>
    
      <button
        routerLinkActive="active"
        *ngIf="authService.isAuthenticated()"
        [routerLink]="['/user/profile']"
        mat-menu-item
      >
        <mat-icon>person</mat-icon>
        <span>Welcome {{authService.currentUser.firstName}}</span>
      </button>
    
      <button
        routerLinkActive="active"
        *ngIf="!authService.isAuthenticated()"
        [routerLink]="['/user/login']"
        mat-menu-item
      >
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>    
  </div>

  <div>
    <form class="example-form" (ngSubmit)="searchSessions(searchTerm)">
      <mat-form-field class="example-full-width">
        <mat-label>Search Sessions</mat-label>
        <input [(ngModel)]="searchTerm" name="searchTerm" matInput placeholder="Enter a session">
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        modal-trigger="searchResultSessions"
        [title]="'Sessions'"
        [template]="modalContainer"
      >
        Search
      </button>
    </form>
  </div>
</div>

<ng-template #modalContainer>
  <mat-card-content class="session-card" *ngFor="let session of foundSessions">
    <a [routerLink]="['events', session.eventId]">
      <mat-card-header collapse-title>
        <h3>{{session.name}}</h3>
      </mat-card-header>
    </a>

  <h3 matLine> {{session.presenter}} </h3>
    <p matLine>
      <span>
        <span style="font-weight: bold;">
          Level: {{session.level}}
        </span>
      </span>
    </p>
  </mat-card-content>
</ng-template>
