<h1>New Event</h1>
<hr />
<div class="example-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)" novalidate>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input formControlName="firstName" name="email" matInput placeholder="Enter First Name">
            <mat-error *ngIf="validateFields('firstName') && profileForm.controls.firstName.errors.required">
              Required
            </mat-error>
            <mat-error *ngIf="validateFields('firstName') && profileForm.controls.firstName.errors.pattern">
              Must start with a letter
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input formControlName="lastName" name="lastName" matInput placeholder="Enter Last Name">
            <mat-error *ngIf="validateFields('lastName')">
              Error!!
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
            <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid">
              Save
            </button>
          </span>
          <button type="button" mat-raised-button color="info" (click)="cancel()">Cancel</button>

          <button type="button" mat-raised-button color="warn" (click)="logout()">Logout</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>