<mat-list>
  <mat-card class="session-card" *ngFor="let session of visisbleSessions">
    <app-collapsible>
      <mat-card-header collapse-title>
        <h3>{{session.name}}</h3>
        <mat-icon *ngIf="session.voters.length >= 3" matListIcon style="color: red">stars</mat-icon>
      </mat-card-header>

      <mat-card-content collapse-body>
        <h3 matLine> {{session.presenter}} </h3>
        <p matLine>
          <span>
            <span style="font-weight: bold;">
              Duration: {{session.duration | duration }}
            </span>
             /
             <span style="font-weight: bold;">
                Level: {{session.level}}
             </span>
          </span>
        </p>
        <div class="demo-2"> -- {{session.abstract}} </div>
      </mat-card-content>
    </app-collapsible>
  </mat-card>
</mat-list>
