<div class="well">
  <img class="event-image" [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date:'shortDate'}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'USD' }}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <mat-grid-list cols="4" rowHeight="10:1">
    <mat-grid-tile>
      <div>
        <h3>Sessions</h3>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <button
        mat-raised-button
        class="filter-buttons"
        [color]="sortBy === 'name' ? 'primary': ''"
        (click)="sortBy = 'name'">
          By Name
      </button>

      <button
        mat-raised-button
        class="filter-buttons"
        [color]="sortBy === 'voters' ? 'primary': ''"
        (click)="sortBy = 'voters'">
          By Votes
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button
        mat-raised-button
        class="filter-buttons"
        [color]="filterBy === 'all' ? 'primary': ''"
        (click)="filterBy = 'all'">
          All
      </button>
      <button
        mat-raised-button
        class="filter-buttons"
        [color]="filterBy === 'beginner' ? 'primary': ''"
        (click)="filterBy = 'beginner'">
          Beginner
      </button>
      <button
        mat-raised-button
        class="filter-buttons"
        [color]="filterBy === 'intermediate' ? 'primary': ''"
        (click)="filterBy = 'intermediate'">
          Intermediate
        </button>
      <button
        mat-raised-button
        class="filter-buttons"
        [color]="filterBy === 'advance' ? 'primary': ''"
        (click)="filterBy = 'advanced'">
          Advanced
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <div (click)="addSession()">
        <a>Add Session</a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <app-session-list
    [eventId]="event?.id"
    [sortBy]="sortBy"
    [filterBy]="filterBy"
    *ngIf="!addSessionMode"
    [sessions]="event?.sessions"
  >
  </app-session-list>

  <app-create-session
    *ngIf="addSessionMode"
    (saveNewSession)="saveNewSession($event)"
    (cancelNewSession)=cancelNewSession()>
  </app-create-session>

</div>