<div>
  <h1>
    Upcoming Events
  </h1>
  <hr />
  <!-- Input, Output and Interpolation template Inter Communication between Components-->
  <!-- <app-event-thumbnail
    #thumbnail
    [event]="eventData"
    (eventClick)="handledEventClicked($event)">
  </app-event-thumbnail>

  <div>
    <span>From child component: </span>
    <strong>
      {{thumbnail.someProperty}}
    </strong>
  </div>
  <button (click)="thumbnail.logFoo()">Create a Log Foo Example</button> -->

  <app-event-thumbnail *ngFor="let eventData of events" [event]="eventData"></app-event-thumbnail>
</div>