<mat-card>
  <mat-card-content>
    <form
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm)"
      novalidate
    >
      <h2>Log In</h2>
      <div>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Email"
            name="username"
            (ngModel)="username"
            required>
        </mat-form-field>
        <mat-label
          *ngIf="loginForm.controls.username?.invalid &&
            (loginForm.controls.username?.touched || mouseOverLogin)"
          class="required"
        >
          *Required
        </mat-label>
      </div>
      
      <div>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            (ngModel)="password"
            required
          >
        </mat-form-field>
        <mat-label
          *ngIf="loginForm.controls.password?.invalid &&
            (loginForm.controls.password?.touched || mouseOverLogin)"
          class="required">
          *Required
        </mat-label>
      </div>

      <div>
        <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
            <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </span>
        <button type="button" mat-raised-button color="warn" (click)="cancel()">cancel</button>
      </div>
    </form>
    <br>
    <div *ngIf="loginInvalid" style="color: red">
      Invalid Login Info
    </div>
  </mat-card-content>
</mat-card>