/* You can add global styles to this file, and also import other style files */

.hoverwell:hover {
  background-color: #d0d5db;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
html, body { height: 100%; }  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #dce2e9;  }
