.pad-left {
  margin-left: 10px;
}

.well {
  margin: 1em;
}

.well div {
  color: #cc0d0d;
}

.gray {
  color: #363535 !important;
}

.green {
  color: #003300 !important;
}

.bold {
  font-weight: 900;
}

.border {
  font-size: larger;
}