<div [routerLink]="['/events', event.id]">
  <div class="well hoverwell thumbnail">
    <h2>{{event?.name | uppercase }}</h2>
    <div>Date: {{event?.date | date:'shortDate' }}</div>
    <div
      class="border"
      [ngClass]="getStartTimeClass()"
      [ngSwitch]="event?.time">
      Time: {{event?.time}}
      <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
      <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
      <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: {{event?.price | currency:'USD' }}</div>
    <!-- <img src="/assets/images/basic-shield.png" /> -->
    <div *ngIf="event?.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event?.onlineUrl">Online URL: <a [href]="event?.onlineUrl">{{event?.onlineUrl}}</a></div>
  </div>

  <!-- InterComunication Components -->
  <!-- <button (click)="handleClickMe()">
    Click Here!
  </button> -->
</div>